/* About.css */
.about-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 1rem;
    color: #ffffff;
}
    
.about-section h2 {
    color: #018ec1;
    font-size: 30px;

}

.about-section h3 {
    color: #018ec1;
    font-size: 25px;
}

.about-section p, .about-section ul {
    color: #016495; /* Slightly darker text for contrast */
    font-size: 20px;
}

.extracurricular-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
}

/* Card Styles */
.extracurricular-card {
    position: relative;
    height: 415px; /* Increased card height */
    max-width: 600px; /* Maximum width for even larger cards */
    background-size: cover;
    background-position: center top;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgba(11, 61, 145, 0.7);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.blue-card .card-overlay {
    background: rgba(11, 61, 145, 0.7); /* Blue overlay with transparency */
}

.extracurricular-card .card-text {
    font-size: 18px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: opacity 0.3s;
}

.extracurricular-card .card-overlay {
    position: absolute;
    inset: 0;
    background: rgba(8, 44, 108, 0.7);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.3s;
}

/* Hover Effect */
.extracurricular-card:hover .card-overlay {
    opacity: 1;
}

.extracurricular-card:hover .card-text {
    opacity: 0;
}

