html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Logo Style */
.logo {
  height: 100px;
}

/* Navigation bar */
nav ul {
  position: fixed;
  margin: 0;
  top: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background:rgb(2, 143, 185);
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  width: 100%;
  box-shadow: none;
  z-index: 10;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  display: block;
  text-align: center;
}

nav ul li a:hover {
  background: lightgray;
  border-radius: 5px;
}
