.footer {
    background-color: #018ec1;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.4rem;
  }
  
  .footer-link {
    color: white;
    text-decoration: underline;
    font-size: 1.4rem;
  }
  
  .footer-link:hover {
    color: #f0f0f0;
  }
  